.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
  display: none;
}

::ng-deep .mat-calendar-invert{
  color:red !important;
  display: none !important;

}

::ng-deep .mat-calendar-previous-button.mat-icon-button.mat-button-base,::ng-deep .mat-calendar-next-button.mat-icon-button.mat-button-base{
  display: none;
}

::ng-deep .mat-focus-indicator.mat-calendar-period-button.mat-button.mat-button-base .mat-button-wrapper{
  position: relative;
  left:98px;
}

.mat-year-month-container .custom-arrows{
  position: absolute;
  z-index: 99999;
}

.mat-year-month-container .custom-arrows .mat-year-month-prev{
  color:blue;
}

.mat-year-month-container .custom-arrows .mat-year-month-next{
  color:blue;
  position: absolute;
  left: 255px;

}