<div class="mat-year-month-container">
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Month and Year" [formControl]="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker
                    startView="year"
                    (monthSelected)="chosenMonthHandler($event,picker)">
    </mat-datepicker>
  </mat-form-field>
  <div *ngIf="picker.opened" class="custom-arrows">
    <button mat-icon-button (click)="previousYear()" class="mat-year-month-prev">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button mat-icon-button (click)="nextYear()" class="mat-year-month-next">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>

</div>